<div style="width: 800px; padding: 40px;">
   <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
      <h2>Jouw Recept:</h2>
      <div class="form-group">
        <label>Naam:</label>
        <input type="text" class="form-control" placeholder="Email" formControlName="name"/>
      </div>
  
      <div class="form-group">
        <label>Beschrijving:</label>
        <input type="text" class="form-control" placeholder="Username" formControlName="description"/>
      </div>
  
      <div class="register-group">
        <label>Voor aantal personen:</label>
        <input type="number" class="form-control" placeholder="Password" formControlName="forNumberOfPeople"/>
      </div>

      <div class="form-group">
        <label>Vegetarisch:</label>
        <input type="checkbox" class="form-control" placeholder="Username" formControlName="isVegan"/>
      </div>

        <div class="form-group">
          <label>Bereidingstijd:</label>
          <input type="time" step="1" class="form-control" placeholder="Username" formControlName="cookingTime"/>
        </div>

      <div>
        <h3>Ingredienten:</h3>
          <div *ngFor="let createFormGroup of createForm.controls.ingredients.controls; let i = index">
              <div [formGroup] = "createFormGroup">
                  <input formControlName="name">
                  <input formControlName="quantity">
                  <input formControlName="unit">
        
                  <button (click)="removeIngredient(i)">Delete</button>
              </div>
          </div>
          <button (click)="addIngredient()">Voeg ingredient toe</button>
      </div>
      
      <div>
        <h3>Keukengerei:</h3>
          <div *ngFor="let createFormGroup of createForm.controls.equipmentUsed.controls; let i = index">
              <div [formGroup] = "createFormGroup">
                  <input formControlName="name">
        
                  <button (click)="removeEquipment(i)">Delete</button>
              </div>
          </div>
          <button (click)="addEquipment()">Voeg keukengerei toe</button>
      </div>   
      
      <button class="btn btn-success" >Maak Recept!</button>

  </form>
  </div>